[Unit]
Description=Tutorial Webapp using Flask and Vue.js
After=systemd-networkd.target

[Service]
WorkingDirectory=/var/www/w6-comp10120/server
ExecStart=/usr/bin/sh /var/www/w6-comp10120/server/run.sh
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=w6-comp10120
User=www-data
Environment=FLASK_APP=main.py
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
